{% extends 'app/base.html' %}
{% block content %}
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">Product name:</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.barcode.errors }}
                    <label for="{{ form.barcode.id_for_label }}">Product GTIN:</label>
                    {{ form.barcode }}
                </div>
                <div class="form-group">
                    {{ form.expiration_date.errors }}
                    <label for="{{ form.expiration_date.id_for_label }}">Product expiration date:</label>
                    {{ form.expiration_date }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
{% endblock %}