{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Shop</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="align-center">My shop</h1>
                    </div>
                    <div class="col">
                        <div class="navbar">
                            <nav id="navbar-nav">
                                <a href="{% url "app:index" %}">Home</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="container">
            <br>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="align-center">
            <div class="row">
                <div class="col">
                    Coded by Cédric FARINAZZO in June 2020
                </div>
                <div class="col">
                    <a href="https://gitlab.com/cedricfarinazzo/cbplus-inventory-app"><img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/GitLab_logo.svg/1200px-GitLab_logo.svg.png" alt="gitlab logo"/></a>
                </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    </body>
</html>