{% extends 'app/base.html' %}
{% block content %}
        <div>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col">
                        <h2>Product list</h2>
                    </div>
                    <div class="col col-lg-2">
                        <a class="btn btn-primary" href="{% url "app:add" %}">Add a product</a>
                    </div>
                </div>
            </div>
            {% if object_list %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product name</th>
                            <th>Shortest expiration date</th>
                            <th>GTIN</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in object_list %}
                            <tr>
                                <th>{{ product.name }}</th>
                                <th>{{ product.shortest_expiration_date.date|date }}</th>
                                <th><a href="{{ product.url }}">{{ product.barcode }}</a></th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No products yet.</p>
            {% endif %}
        </div>
{% endblock %}