{% extends 'app/base.html' %}
{% block content %}
        <div>
            <h2>Product detail</h2>
            <div>
                Name: {{ product.name }}
                <br>
                GTIN: {{ product.barcode }}
            </div>
            <div>
                <a class="btn btn-primary" href="{{ product.delete_url }}">Delete</a>
            </div>
            <br>
            <div>
                <h3>Stock list</h3>
                <div>
                    <ul>
                        {% for d in object_list %}
                            <li>
                                <div class="row">
                                    <div class="col">
                                        {{ d.date|date }}
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-primary" href="{{ d.delete_url }}">Delete</a>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li>No product yet.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}