/* style.css */

/* Global config */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #d4d4d4;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* header */

header {
    background-color: #ffb766;
    color: black;
}

/* Footer */
footer {
    background-color: #ffb766;
    color: black;
    padding: 20px;
    flex-shrink: 0;
}

/* Navbar */
nav {
    overflow: hidden;
    background-color: #333;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Tools */

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.logo {
    width: 85px;
    margin: 5px;
    height: auto; /*to preserve the aspect ratio of the image*/
}